<template name="about">
<!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Sterling</h2>
                <p>Grayscale is ... <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>.</p>
            </div>
        </div>

        <!-- Timeline --> 
		<div class="row">
	        <ul class="timeline">
	            <li>
	                <div class="timeline-image">
	                    <img class="img-circle img-responsive" src="img/3.jpg" alt="">
	                </div>
	                <div class="timeline-panel">
	                    <div class="timeline-heading">
	                        <h4>2009-2011</h4>
	                        <h4 class="subheading">Our Humble Beginnings</h4>
	                    </div>
	                    <div class="timeline-body">
	                        <p class="text-muted">Still building man :) Check it out yo!</p>
	                    </div>
	                </div>
	            </li>
	            <li class="timeline-inverted">
	                <div class="timeline-image">
	                    <img class="img-circle img-responsive" src="img/elementIcon.jpg" alt="">
	                </div>
	                <div class="timeline-panel">
	                    <div class="timeline-heading">
	                        <h4>July 2014</h4>
	                        <h4 class="subheading">Phase Two Expansion</h4>
	                    </div>
	                    <div class="timeline-body">
	                        <p class="text-muted">
	                        	DDDDDD
	                        </p>
	                    </div>
	                </div>
	            </li>
	            <li class="timeline-inverted">
	                <div class="timeline-image">
	                    <h4>Be Part
	                        <br>Of Our
	                        <br>Story!</h4>
	                </div>
	            </li>
	        </ul>
	    </div>
    </section>
</template>