<template name="home">
<!-- //TODO: do an if check, if there is a user, then show the functions appropriate to the userType
-->
{{#if loggedIn_user.userType.admin}}
	admin
  <a href="registerTrainer">registerTrainer</a>
  <a href="registerLearner">registerLearner</a>
  <a href="registerCorporation">registerCorporation</a>
  <a href="CRUDCourses">CRUDCourses</a>
{{else}}
{{#if loggedIn_user.userType.headAdmin}}
	headAdmin
  <a href="registerAdmin">registerAdmin</a>
  <a href="registerTrainer">registerTrainer</a>
  <a href="registerLearner">registerLearner</a>
  <a href="registerCorporation">registerCorporation</a>
  <a href="CRUDCourses">CRUDCourses</a>
{{else}}
{{#if loggedIn_user.userType.learner }}
	learner
  <a href="registerTrainer">registerTrainer</a>
  <a href="CRUDCourses">CRUDCourses</a>
{{else}}
{{#if loggedIn_user.userType.corporation }}
	corporation
  <a href="registerTrainer">registerTrainer</a>
  <a href="CRUDCourses">CRUDCourses</a>
{{else}}
{{#if loggedIn_user.userType.trainer }}
	trainer
  <a href="setTimeslots">setTimeslots</a>
  <a href="CRUDCourses">CRUDCourses</a>
	{{> fileUpload}}
	{{> imagesView}}
{{else}}
	<!-- //TODO: redirect to login-->
	else
  <a href="viewClasses">view sessions taught</a>
  <a href="registerTrainer">registerTrainer</a>
  <a href="registerLearner">registerLearner</a>
  <a href="registerCorporation">registerCorporation</a>
  <a href="registerAdmin">registerAdmin</a>
  <a href="CRUDCourses">CRUDCourses</a>
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
</template>
 
<template name="imagesView">
  <div class="imageView">
		a
    {{#each images}}
      <div>
        <!--<a href="{{this.url}}" target="_blank"><img src="{{this.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="thumbnail" /></a>-->
        <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" alt="" class="thumbnail"></a>-->
      </div>
    {{/each}}
  </div>
</template>

<template name="fileUpload">
	<input type="file" name="myFileInput" class="myFileInput">
</template>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>
 
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
 
    <span class="text">{{text}}</span>
  </li>
</template>
 
 <!--
http://hacktivist.in/articles/Simple-crud-app-in-loggedIn_
 -->
<template name="registerTrainer">
  <form id="registerTrainer-Form">
		<input type="text" id="registerTrainer-Email">
		<input type="password" id="registerTrainer-Password">
		<input type="submit" id="registerTrainer-Submit">
	</form>
</template>
 
<template name="registerCorporation">
  <form id="registerCorporation-Form">
		<input type="text" id="registerCorporation-Email">
		<input type="password" id="registerCorporation-Password">
		<input type="submit" id="registerCorporation-Submit">
	</form>
</template>
 
<template name="registerLearner">
  <form id="registerLearner-Form">
		<input type="text" id="registerLearner-Email">
		<input type="password" id="registerLearner-Password">
		<input type="submit" id="registerLearner-Submit">
	</form>
</template>
 
<template name="registerAdmin">
  <form id="registerAdmin-Form">
		<input type="text" id="registerAdmin-Email">
		<input type="password" id="registerAdmin-Password">
		<input type="submit" id="registerAdmin-Submit">
	</form>
</template>
 
<template name="setTimeslots">
		<form class="addTimeslotForm" id="addTimeslotForm">
			<input type="datetime-local" id="addTimeslotStartTime">
			<input type="datetime-local" id="addTimeslotEndTime">
			<input type="submit">
		</form>
</template>
 
<template name="CRUDCourses">
		{{> addCourseTemplate }}
    <ul>
      {{#each courses}}
        {{> course}}
      {{/each}}
    </ul>
</template>
 
<template name="addCourseTemplate">
		<h2>Add a new Course</h2>
		<form class="courseAddForm" id ="courseAddForm" required>
			<b>Name:</b> <input type="text" placeholder="Enter the name" id="courseAddName"><br />
			<b>courseCode:</b> <input type="text" placeholder="Enter the courseCode" id="courseAddCourseCode"><br />
			<b>fee:</b> <input type="text" placeholder="Enter the fee" id="courseAddFee"><br />
			<b>min:</b> <input type="text" placeholder="Enter the min" id="courseAddMin"><br />
			<b>max:</b> <input type="text" placeholder="Enter the max" id="courseAddMax"><br />
			<br />
			<span class="text">description: <textarea  id="courseAddDescription" placeholder="Enter the description"></textarea></span><br />
			<button type="submit" class="addCourseSave" >Save</button>
		</form>
</template>
 
<template name="course">
  <li class="CRUDCoursesCourse" id="courseNodeId{{_id}}">
    <h2>Name: {{name}}</h2><br />
    <b>courseCode:</b> {{courseCode}}<br />
    <b>fee:</b> {{fee}}<br />
    <b>min:</b> {{min}}<br />
    <b>max:</b> {{max}}<br />
		<br />
    <span class="text">description: {{description}}</span><br />
		<button class="editCourse">edit</button>
		<button class="deleteCourse">delete</button>
  </li>
</template>
 
<template name="viewSessions">
	<form class="sessionAddForm" id ="sessionAddForm" required>
		<b>Name:</b> <input type="text" placeholder="Enter the name" id="session_AddName"><br />
		<b>courseCode:</b> <input type="text" placeholder="Enter the courseCode" id="session_AddCourseCode"><br />
		<b>fee:</b> <input type="text" placeholder="Enter the fee" id="session_AddFee"><br />
		<b>min:</b> <input type="text" placeholder="Enter the min" id="session_AddMin"><br />
		<b>max:</b> <input type="text" placeholder="Enter the max" id="session_AddMax"><br />
		<br />
		<span class="text">description: <textarea  id="session_AddDescription" placeholder="Enter the description"></textarea></span><br />
		<button type="submit" class="session_Save" >Save</button>
	</form>
	<table>
		<tr>
			<th>Course</th><th>Session</th><th>Time Slot</th><th>View Class</th>
		</tr>
		{{#each sessions}}
			<tr>
				{{> sessionEntry}}
			</tr>
		{{/each}}}
	</table>
</template>
 
<template name="sessionEntry">
		<td>{{courseName}}</td>
		<td>{{sessionName}}</td>
		<td>{{sessionName}}</td> <!--//TODO: show timeslots nicely-->
		<td><a href="">View class list</a></td>
</template>
 
<template name="classlist">
	<ul>
		{{#each Student}}
			<li>
				{{> studentEntryForClasslist}}
			</li>
		{{/each}}}
	</ul>
</template>
 
<template name="studentEntryForClasslist">
  <!--//TODO: Create this template
	-->
</template>