
<template name = "calendarView">
  {{> haha}}
</template>

<template name="exampleModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Workplace Health and Safety</h4>
                </div>

                <div class="modal-body">
                    <ul>
											<li>Course: Workplace Health and Safety</li>
											<li>Class: G2</li>
											<li>Venue: CR 2.1</li>
											<li>Trainer: Benjamin Lim</li>
											<li>Equipment: Steel Cutter SC02</li>
										</ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>