<template name = "classList">
  <div class="panel" style="background-color:#f8f8f8">
    <h3 class="row" style="padding-top:30px" align="center" >Class List</h3>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Class</th>
          <th>Venue</th>
          <th>Time</th>
          <th>Trainer</th>
          <th>Equipment</th>
          <th>Navigate</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          Workplace Literacy and Numeracy Fundamentals
      </td>
      <td>
        G2
    </td>
    <td>
        CR 2.1
    </td>
    <td>         
      09:00am - 12:00pm
  </td>
  <td>
      Tan Chuan
  </td>
  <td>
      Steel Cutter SC02
  </td>
<td><button type="button" class="btn btn-default" onclick="document.location.href='../classHomepage'">Go to Class</button></td>         
</tr>
<tr>
  <td>
    <div>
      Workplace Health and Safety
  </div>
</td>
<td>
    <div>
      G1
  </div>
</td>
<td>
    <div>
      CR 2.1
  </div>
</td>
<td>
    <div>
      01:00pm - 05:00pm
  </div>
</td>
<td>
    <div>
      Benjamin Lim
  </div>
</td>
<td>
    <div>
      No Equipment
  </div>
</td>
<td><button type="button" class="btn btn-default" onclick="document.location.href='../classHomepage'">Go to Class</button></td>          
</tr>
<tr>
  <td>
    <div>
      Strategic Business Planning for Training Organizations (SBPTO)
  </div>
</td>
<td>
    <div>
      G4
  </div>
</td>
<td>
    <div>
      CR 1.1
  </div>
</td>
<td>
    <div>
      01:00pm - 05:00pm
  </div>
</td>
<td>
    <div>
      Chris Ong
  </div>
</td>
<td>
    <div>
      No Equipment
  </div>
</td>
<td><button type="button" class="btn btn-default" onclick="document.location.href='../classHomepage'">Go To Class</button></td>           
</tr>
</tbody>
</table>




</div>
</div>
</template>


