<template name="homePage">
	<div class="panel" style="background-color:#f8f8f8">
       	<h3 class="row" style="padding-top:30px" align="center" >Workplace Literacy and Numeracy Fundamentals - G2</h3>

	</div>

<div class="row" style="background-color:#f8f8f8">
<a id="sendText" class="btn btn-primary btn-lg active" role="button" style="float:right;">Send a Text</a>
	
       	
	</div>

	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home" style="color:#095464">Home</a></li>
	  <li><a data-toggle="tab" href="#material" style="color:#095464">Course Materials</a></li>
	</ul>
	
	<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
			
			<div class="row">

				<div id="home" class="col-xs-12 col-sm-6">
			        <div class="box">
						<div class="box-header">
							<div class="no-move"></div>
							<h3 class="page-header">Announcements</h3>
						</div>
						{{> announcement}}
					</div>
			    </div>

					<div class="col-xs-12 col-sm-6" name="classhome">
						<style>
							 p {
							 font-size: 12px;
							 margin-bottom: 0.5em;
							 }
 						</style>
			            <div class="box">
							<div class="box-header">
								<div class="no-move"></div>
								<h3 class="page-header">Class details</h3>
							</div>

							<div class="box-content">
								<p>Venue: CR 2.1</p>
								<p>Trainer: Benjamin Lim</p>
								<p>Class Days: Mondays and Wednesdays</p>
								<p>Class Timings: 09:00am - 12:00pm </p>
							</div>
						</div>

						<div class="box">
							<div class="box-header">
								<div class="no-move"></div>
								<h3 class="page-header">Course Details</h3>
							</div>
							<div class="box-content">
								<p>Course: Workplace Health and Safety </p>
								<p>Course Code: WHS</p>
								<p>Class: G2</p>
								<p>Start Date: 02 September 2015</p>
								<p>End Date: 27 November 2015</p>							
								<p>Number of Sessions: 30 </p>
							</div>
						</div>
			        </div>
				</div>
	  		</div>

	<div id="material" class="tab-pane fade">
		<div class="panel" style="background-color:#f8f8f8">
				<div class="row">
					<div id="home" class="col-xs-12 col-sm-6">
			        	<div class="box">
							<div id="dashboard_links" class="col-xs-12 col-sm-6 pull-left">
								<ul class="nav nav-pills nav-stacked">
									<li class="active"></li>
									<li><a data-toggle="pill" href="#content1" style="color:#095464">Session 01 (02 Sept)</a></li>
									<li><a data-toggle="pill" href="#content2" style="color:#095464">Session 02 (07 Sept)</a></li>
									<li><a data-toggle="pill" href="#content3" style="color:#095464">Session 03 (09 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 04 (14 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 05 (16 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 06 (21 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 07 (23 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 08 (26 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 09 (30 Sept)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 10 (05 Oct)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 11 (07 Oct)</a></li>
									<li ><a data-toggle="pill" href="#content12" style="color:#095464">Session 12 (12 Oct)</a></li>
									<li ><a data-toggle="pill" href="#content12" style="color:#095464">Session 13 (14 Oct)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 14 (19 Oct)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 15 (21 Oct)</a></li>
									<li><a data-toggle="pill" href="#menu1" style="color:#095464">Session 16 (26 Oct)</a></li>
									<li class="active"><a data-toggle="pill" href="#content13" style="color:white">Session 17 (4 Nov)</a></li>
								</ul>
							</div>
						</div>

						<div class="tab-content">
					    
					   	 	<div id="content1" class="tab-pane fade">
						      <h3>Session 1</h3>
						      <ul> 
								<a href="../img/elementIcon.jpg" download="elementslogo" style="color:#095464; font-weight:bold; text-decoration: underline">Lecture notes 1</a>
						      </ul>
					    	</div>


					    	<div id="content2" class="tab-pane fade">
						      <h3>Session 2</h3>
						      <a href="../img/elementIcon.jpg" download="elementslogo" style="color:#095464; font-weight:bold; text-decoration: underline">Lecture notes 2</a>
						    </div>

						    <div id="content3" class="tab-pane fade">
						      <h3>Session 3</h3>
						      <a href="../img/elementIcon.jpg" download="elementslogo" style="color:#095464; font-weight:bold; text-decoration: underline">Lecture notes 3</a>
						    </div>

					    	<div id="content12" class="tab-pane fade">
					      		<h3>Session 12</h3>
					      		<ul>
			  						<li>
									    <a href="../img/13-IS306-LaboratoryStudies.pptx" download="lecture12" style="color:#095464; font-weight:bold; text-decoration: underline">Lecture notes 12</a>
									</li>
					      		</ul>
					    	</div>
								
								<div id="content13" class="tab-pane active">
					      		<h3>Session 17</h3>
					      		<ul>
			  						<li>
									    <a href="../img/13-IS306-LaboratoryStudies.pptx" download="lecture13" style="color:#095464; font-weight:bold; text-decoration: underline">Lecture notes 17</a>
									</li>
									<li>
									    <a href="../img/Assignment_3-rc.docx" download="elementslogo" style="color:#095464; font-weight:bold; text-decoration: underline">Assignment 5</a>
									</li>
					      		</ul>
					    	</div>
					    
					  </div>
					</div>


			    </div>
	  		</div>
	  		</div>
	  		</div>
	



</template>


<template name="announcement">
	<div class="row">
		<div class="col-xs-12 page-feed">
			<div class="box">
				<div class="page-feed-content">
					<small class="time">Benjamin Lee, 10 October 2015</small>
					<h2 style="margin-bottom: 1px"> Deadline for Assignment 3</h2>
					<p>Class, do take note Assignment 3 is due next Monday.</p>
				</div>
			</div>
		</div>
	</div>
	<h3 style="margin-bottom: 20px"> </h3>
			
	<div class="row">
		<div class="col-xs-12 page-feed">
			<div class="box">
				<div class="page-feed-content">
					<small class="time">Benjamin Lee, 30 September 2015</small>
					<h2 style="margin-bottom: 1px"> Lecture Notes 13</h2>
					<p>Lecture notes for session 13 has been uploaded.</p>
					
				</div>
			</div>
		</div>
	</div>
	<h3 style="margin-bottom: 20px"> </h3>
			
	<div class="row">
		<div class="col-xs-12 page-feed">
			<div class="box">
				<div class="page-feed-content">
					<small class="time">Benjamin Lee, 04 September 2015</small>
					<h2 style="margin-bottom: 1px"> Rescheduling of this Wednesday's class</h2>
					<p>This Wednesday's class is rescheduled to Saturday (12/09)</p>
					
				</div>
			</div>
		</div>
	</div>
</template>	