<template name="facilityCourse">
  <div class="panel" style="background-color:#f8f8f8">
    <h3 class="row" style="padding-top:30px" align="center" >Facility Management</h3>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#faciBook" style="color:#095464">Facility Booking</a></li>
    <li><a data-toggle="tab" href="#reporting" style="color:#095464">Facility Reporting</a></li>
  </ul>


  <div class="tab-content">
    <div id="equiBook" class="tab-pane fade in active">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!--<div class="box">
            <div class="row">
              <div class="box-content">-->
                <h3 class="page-header">Facility Booking System</h3>
                <!-- Insert image here-->




                <div class="row">
      <div class="col-xs-12 col-sm-6">

          
            <div class="form-group">
            <table>
            <tr>
              <td><label for="usrname"><span class=""></span> Course     </label></td>
              <td>
              <select class="js-example-basic-single">
                <option value="AL">-- Select a Course --</option>
                <option value="AL">Develop and Review Competency-based Assessment (AD)  </option>
                <option value="AL">Managing Operations in Training Organisations (MOTO)  </option>
                <option value="AL">Strategic Business Planning for Training Organizations (SBPTO) </option>
                <option value="WY">Workplace Health and Safety (WHS) </option>
                <option value="AL">Workplace Literacy and Numeracy (WPLN) </option>
                <option value="AL">Workplace Trainer Programme (WTP) </option>
              </select></td>
              </tr>
              <tr>
                <td><label for="psw"><span class=""></span> Class</label></td>
                <td>  <select class="js-example-basic-single">
                <option value="AL">-- Select a Class --</option>
                <option value="AL">G1</option>
                <option value="WY">G2</option>
              </select></td>
              </tr>
              </table>
            </div>
              <a href="facilityConfirmation" role="button" class="btn btn-success btn-block">Submit</a>
          
        </div>
        </div>
        
      </div>
      
    </div>
  </div> 

 
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>




         <!-- </div></div> </div>
       </div>-->
  

   <div id="reporting" class="tab-pane fade">

    <div class="row">
      <div id="home" class="col-xs-12 col-sm-6">
        <div class="box">
          {{> facilityTable}}
        </div>
      </div>

    </div>
  </div>
</div>
</template>
