<template name="facilityManagement">
  <div class="panel" style="background-color:#f8f8f8">
        <h3 class="row" style="padding-top:30px" align="center" >Facility Management</h3>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#faciBook" style="color:#095464">Facility Booking</a></li>
    <li><a data-toggle="tab" href="#reporting" style="color:#095464">Facility Reporting</a></li>
  </ul>


  <div class="tab-content">
    <div id="faciBook" class="tab-pane fade in active">
      <div class="row">
      <div class="col-xs-12 col-sm-12">
          <!--<div class="box">
            <div class="row">
        <div class="box-content">-->
          <h3 class="page-header">Facility Booking System</h3>
          <!-- Insert image here-->
          
          <form class="form-vertical" role="form" action = "facilityResult">
            <!-- Date of Booking -->
            <!-- Put a date time picker -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Start Date</label>
              <div class="col-sm-4">
                <input type="date" id="input_date_beginning" class="form-control" placeholder="D.O.B.B">
              </div>
            </div>

            <!-- Put a date time picker -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Repeat</label>
              <div class="col-sm-4">
                <select class="form-control" name="repeat" id="repeatOption">
                  <option value="">-- No Repeat --</option>
                  <option value="everyday">Everyday</option>
                  <option value="weekday">Weekdays</option>
                  <option value="weekends">Weekends</option>
                  <option value="weekly">Weekly</option>
                  <option value="mothly">Monthly</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Number of Sessions</label>
              <div class="col-sm-4">
                <input type="string" id="numSession" class="form-control">
              </div>
            </div>

            <!-- Capacity -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Capacity</label>
              <div class="col-sm-4">
                <input type="string" id="input_capacity_min" class="form-control" >
              </div>
            </div>


            <!-- Select date -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Days</label>

                <div class="col-sm-10">
                  <div class="checkbox-inline">
                    <label>
                      <input type="checkbox" checked> Mon
                    </label>
                  </div>
                  <div class="checkbox-inline">
                    <label>
                      <input type="checkbox"> Tues
                    </label>
                  </div>
                  <div class="checkbox-inline">
                    <label>
                      <input type="checkbox"> Wed
                    </label>
                  </div>
                  <div class="checkbox-inline">
                    <label>
                      <input type="checkbox"> Thurs
                    </label>
                  </div>
                  <div class="checkbox-inline">
                    <label>
                      <input type="checkbox"> Fri
                    </label>
                  </div>
                  <div class="checkbox-inline">
                    <label>
                      <input type="checkbox"> Sat
                    </label>
                  </div>
                </div>
              </div>


            <!-- Time of Booking -->
            <!-- Put a date time picker -->
            <!-- Format  -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Start Time</label>
              <div class="col-sm-4">
                <input type="time" id="input_time_beginning" class="form-control" placeholder="time.start">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">End Time</label>
              <div class="col-sm-4">
                <input type="time" id="input_time_end" class="form-control" placeholder="time.end">
              </div>
            </div>

            <!-- Facility Type -->
            <!-- Get Facility List from DB and drop down List -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Facility Type</label>
              <div class="col-sm-4">
                <select class="form-control" name="facilityType" id="facType">
                  <option value="">-- Select a Facility --</option>
                  <option value="classRm">Class Room</option>
                  <option value="trainingRm">Training Room</option>
                  <option value="meetingRm">Meeting Room</option>
                </select>
              </div>
            </div>

            <!-- Facility  -->
            <!--  Based on Facility Type -> get Facility List from DB and drop down List -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Facility</label>
              <div class="col-sm-4">
                <select class="form-control" name="facility" id="fac">
                  <option value="default">-- Select a Facility --</option>
                  <option value="classRm">Class Room 1</option>
                  <option value="classRm2">Class Room 2</option>
                </select>
              </div>
            </div>
            <!--<h4>Search Result display</h4>-->
            <!--javascript to capture time, similar to oasis?-->

          <div class="form-group">     
            <div class="col-xs-2">
              <!-- Might use javascript over here cause the courses shouldnt be the same -->
              <!-- back to homepage? -->
              <button type="button" class="btn pull-left btn-success" href="index.html">Back</button>
            </div>

            <div class="col-sm-10">
              <button type="submit" class="btn pull-right btn-primary">Search</button>
            </div>
          </div>
          <!-- To make the white background cover all fields -->
          <div class="clearfix"></div> 
        </form>
      </div>
      





         <!-- </div></div>
        </div>-->

        </div>
      </div>

    <div id="reporting" class="tab-pane fade">

      <div class="row">
        <div id="home" class="col-xs-12 col-sm-6">
          <div class="box">
            {{> facilityTable}}
          </div>
        </div>

        </div>
      </div>

    </div>
</template>





<template name = "facilityTable">
  <div class="row">
      <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Facility</th>
          <th>Report Fault</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="radio">
              <label>Classroom 1.1 (CR1.1)</label>
            </div>
          </td>
          <td>
            <a href="reportfacilityfault" role="button" class="btn btn-warning btn-block"> Report Fault</a>
          </td>
          <td>NA</td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>Classroom 1.2 (CR1.2)</label>
            </div>
          </td>
          <td>
            <a href="reportfacilityfault" role="button" class="btn btn-warning btn-block"> Report Fault</a>
          </td>
          <td>NA</td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>Classroom 2.1 (CR2.1)</label>
            </div>
          </td>
          <td>
            <a href="/reportfacilityfault" role="button" class="btn btn-warning btn-block"> Report Fault</a>
          </td>
          <td>NA</td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>Classroom 2.2 (CR2.2)</label>
            </div>
          </td>
          <td>
            <a href="/reportfacilityfault" role="button" class="btn btn-warning btn-block"> Report Fault</a>
          </td>
          <td>NA</td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>Classroom 2.3 (CR2.3)</label>
            </div>
          </td>
          <td>
            <a href="/reportfacilityfault" role="button" class="btn btn-warning btn-block"> Report Fault</a>
          </td>
          <td>NA</td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>Classroom 3.1 (CR3.1)</label>
            </div>
          </td>
          <td>
            Faulty
          </td>
          <td>Lights are unable to be turned on.</td>
        </tr>
      </tbody>
    </table>




  </div>
  </div>
</template>


