<template name="adminDashboard">
    <div class="row">
                <div class="col-lg-12">
                    <h1 class="admin-page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i> Today's Class Schedule
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

																	{{> fullcalendar options}}

                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> To-Do Panel
                        </div>
                        <!-- /.panel-heading -->

                         <div class="container">
                             
                                  <form class="new-task">
                                      <div class="col-sm-4">
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                        <textarea rows="1" cols="35">Enter your new task here
                                        </textarea>
                                      </div>
                                  </form>
                             
                            </div>




                        <div class="panel-body">

                            <style>
                             p {
                             font-size: 12px;
                             margin-bottom: 0.5em;
                             }
                            </style>
                                    <p>
                                     <button class="delete">&times;</button>
                                 
                                    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
                                 
                                    <span class="text">Inspect CR 2.1 and SC02 for WHS G2</span>
                                    </p>


                               <p>
                                    <button class="delete">&times;</button>
                                 
                                    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
                                 
                                    <span class="text">Trainer for SBPTO G1 is unable to make it. Inform students that class is rescehduled to Saturday (17/10).</span>
                                    </p>

                                <p>
                                    <button class="delete">&times;</button>
                                 
                                    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
                                 
                                    <span class="text">Report that SC05 is faulty.</span>
                                </p>

                                <p>
                                    <button class="delete">&times;</button>
                                 
                                    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
                                 
                                    <span class="text">Trainer for DAC is unable to make it. Inform students that class is cancelled.</span>
                                </p>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View Previous To-Dos</a>



                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
</template>


<template name="task">
  <li>{{text}}</li>
</template>
