<template name="registerTrainer">
  <form id="registerTrainer-Form">
		<input type="text" id="registerTrainer-Email">
		<input type="password" id="registerTrainer-Password">
		<input type="submit" id="registerTrainer-Submit">
	</form>
</template>
 
<template name="registerCorporation">
  <form id="registerCorporation-Form">
		<input type="text" id="registerCorporation-Email">
		<input type="password" id="registerCorporation-Password">
		<input type="submit" id="registerCorporation-Submit">
	</form>
</template>
 
<template name="registerLearner">
  <form id="registerLearner-Form">
		<input type="text" id="registerLearner-Email">
		<input type="password" id="registerLearner-Password">
		<input type="submit" id="registerLearner-Submit">
	</form>
</template>
 
<template name="registerAdmin">
  <form id="registerAdmin-Form">
		<input type="text" id="registerAdmin-Email">
		<input type="password" id="registerAdmin-Password">
		<input type="submit" id="registerAdmin-Submit">
	</form>
</template>
