
<template name="textModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Workplace Health and Safety</h4>
                </div>

                <div class="modal-body">
                    <ul>
						<li>
                            <div class="form-group">
                                <label for="Message">Message:</label>
                                <textarea class="form-control" rows="5" id="message"></textarea>
                            </div>
                        </li>
					</ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="document.location.href='../classHomepage'" data-dismiss="modal">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>